.mam {
  width: 100%;

  .packets {
    display: flex;
    flex-direction: column;

    .packet {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      padding-top: 20px;
      border-top: 2px solid var(--light-grey);

      .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .label {
          min-width: 120px;
          font-weight: bold;
        }

        .root {
          font-size: 16px;
          // sass-lint:disable no-duplicate-properties
          word-break: break-all;
          word-break: break-word;
        }

        .payload {
          width: 100%;
          margin: 0;

          &.ascii,
          &.json,
          &.trytes {
            padding: 10px;
            border: 1px solid var(--light-grey);
            border-radius: 5px;
          }

          &.trytes {
            max-height: 100px;
            white-space: pre-line;
            overflow-x: hidden;
            overflow-y: auto;
          }
        }
      }
    }

    .busy-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .spinner {
        margin-right: 20px;
      }
    }
  }
}
